@use "variables";
@use "mixins";

body {
    width: 100%;
    height: min-content;
    font-family: variables.$fontBody;
    font-size: 16px;
    color: variables.$Very-Dark-Blue;

    li {
        list-style: none;
    }
    a{
        color: #000;
        text-decoration: none;
    }
}

.header {
    width: 375px;
    margin: auto;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: variables.$font-Header;
    @include mixins.desktop(1220px);
    
    .header-logo {
        width: 100px;
        @include mixins.desktop(800px, unset, unset, 0 0 0 60px);
    }
    
    .header-navbar{
        .navbar {
            width: 180px;
            display: flex;
            justify-content: space-between;
            @include mixins.desktop(300px);
            
            &__ul {
                font-size: 14px;
                @include mixins.desktop(unset, unset, 16px);
                
            }
        }
    }
}

.main{
    width: 375px;
    margin: 0 auto;
    @include mixins.desktop();
}

.section-getStarted {
    width: 100%;
    margin-top: 100px;
    padding: 0 20px;
    text-align: center;
    

    &__title{
        margin-top: 50px;
        font-size: 26px;
        // font-family: variables.$font-Header;
        font-weight: 700;
        line-height: 35px;
    }
    &__description{
        margin: 30px 0;
        line-height: 25px;

    }
    &__email{
        width: 100%;
        margin: 20px 0;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #000;
        padding: 10px 20px;
        
        &::placeholder{
            color: variables.$Light-Gray;
        }
        &:focus{
            outline: none;
        }
    }
    &__button {
        @include mixins.button(50px);
    }

    @media screen and (min-width:1220px) {
        @include mixins.flex(space-around);

        img {
            width: 40%;
        }

        div {
            width: 600px;
        }
        &__title{
            font-size: 36px;
            line-height: 50px;
            font-family: variables.$font-Header;
            // font-weight: 700;
        }
        &__description{
            padding-right: 80px;
        }
        &__email{
            width: 300px;
            margin-right: 10px;
        }
        &__button{
            width: 180px;

        }
    }
}

.section-secureStorage{
    margin-top: 100px;
    background-image: url(../images/bg-curve-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 50px;
    
    
    .secureStorage-ilustration{
        padding: 50px 0;
        background-color: variables.$Light-Grayish-Blue;
    }
    .secureStorage-text{
        background-color: variables.$Light-Grayish-Blue;
        
        .secureStorage-description{
            padding: 20px 20px;
            &__title{
                text-align: center;
                padding: 25px 0;
                font-size: 17.5px;
                font-family: variables.$font-Header;
                font-size: 700;
            }

            &__text{
                font-size: 0.9063em;
                line-height: 25px;
                margin-bottom: 20px;
                color: hsl(0, 0%, 40%);
            }
            
            &__button{
                display: block;
                width: max-content;
                margin: 40px auto 0;
                font-size: 0.9063em;
                padding-bottom: 6px;
                color: variables.$Moderate-Cyan;
                border-bottom: 1.6px solid variables.$Moderate-Cyan;
            }
        }
        
    }
        
    @media screen and (min-width:1220px){
            @include mixins.flex(space-around);
            background-image: url(../images/bg-curve-desktop.svg);
            padding-top: 100px;
            height: 450px;
    
            .secureStorage-ilustration{
                &__img{
                    padding-right: 60px;
                    padding-top: 20px;
                }
            }
    
            .secureStorage-text{
                padding: 40px 60px;
                
                .secureStorage-description{
                    &__title{
                        text-align: left;
                        font-size: 30px;
                    }
    
                    &__text{
                        width: 500px;
                    }
    
                    &__button{
                        display: inline;
                        cursor: pointer;
                        transition: .8s;

                        &:hover{
                            opacity: 60%;
                        }
                    }
                }
            }
    }
}

.section-card{
    height: 300px;
    padding-top: 30px;
    background-color: variables.$Light-Grayish-Blue;

    .card{
        box-shadow: 0px 0px 20px 2px variables.$Light-Gray;
        width: 310px;
        height: 220px;
        margin: auto;
        font-size: 13px;
        line-height: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
    
        &__icon{
            margin-bottom: 10px;
        }
    
        &__profile{
            display: flex;
            align-items: center;
            margin-top: 20px;
    
                
    
            &-img {
                width: 50px;
                margin-right: 10px;
                border-radius: 50%;
            }

            &-name {
                .name{
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-family: variables.$font-Header;
                }
                .occupation{
                    font-size: 12px;
                 }
    
            }
                
        }
    }
    
    @media screen and (min-width:1220px){
        height: 350px;
        .card{
            margin-left: 75px;
        }
    }
}

.section-startFree{
    padding: 60px;
    background-color: variables.$Desaturated-Blue;
    color: #fff;
    text-align: center;
    
    .startFree-description {
        &__title {
            font-size: 17.5px;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        &__text {
            font-size: 0.9063em;
            margin-bottom: 20px;
        }
    }
    .startFree-inputs{
        &__email{
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: none;
            padding: 5px 10px;
            box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.186);
            &::placeholder{
                color: variables.$Light-Gray;
            }
        }
        &__button{
            width: 100%;
            @include mixins.button(40px);
            box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.186);

        }
    }

    @media screen and (min-width:1220px){
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        height: 350px;
        .startFree-description {
            width: 50%;

            &__title{
                font-size: 24px;
            }
            &__text{
                width: 450px;
                font-size: 15px;
                line-height: 22px;
            }
        }
        .startFree-inputs{
            width: 50%;

            &__email{
                width: 500px;
                margin-bottom: 20px;
                padding-left: 20px;
            }

            &__button{
                width: 200px;
                font-size: 15px;
            }
        }
    }
}

.footer{
    width: 375px;
    margin: auto;
    background-color: variables.$Very-Dark-Blue;
    color: #fff;
    
    .footer-container{
        padding: 60px 40px 0 40px;

        .footer-info{
            &__logo{
                margin-bottom: 20px;
            }
            &__contact{
                margin-bottom: 20px;
                font-size: 15px;
                img{
                    padding-right: 10px;
                }
            }
        }
        .footer-links{
            margin: 50px 0;
            .links {
                &__li{
                    margin-bottom: 15px;
                &-a{
                    color: #fff;
                    transition: all .5s;
                    &:hover{
                        color: variables.$Moderate-Cyan;
                    }
                }
            }
            
        }

    }
  

    .footer-icons{
        text-align: center;
        .icons{
            i{
                border: 1px solid #fff;
                border-radius: 50%;
                margin: 0 5px 20px;
                cursor: pointer;
                transition: all .5s;

                &:nth-child(1){
                    padding: 8px 11px;
                }
                &:nth-child(2){
                    padding: 8px 8px;
                }
                &:nth-child(3){
                    padding: 8px 9px;
                }
                &:hover{
                    color: variables.$Moderate-Cyan;
                    border: 1px solid variables.$Moderate-Cyan;
                }
                
            }
            
        }
        
    }

    
    }
    .footer-attribution{
        padding-bottom: 10px;
        .attribution{
            text-align: center;
            font-size: 12px;
            
            a{
                color: #fff;
            }
        }
    }

    @media screen and (min-width:1220px){
        width: 100%;
        padding-top: 60px;

        .footer-container{
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

            .footer-info{
                &__logo{
                    width: 200px;
                    margin-bottom: 50px;
                }
                &__contact{
                    margin-bottom: 30px;
                }
            }
            .footer-links{
                margin-top: 120px;
                .links {
                    &__li{
                        margin-bottom: 30px;
                    }
                }
                
            }
            .footer-icons{
                margin-top: 120px;
            }
           
        }
        .footer-attribution{
            margin-top: 60px;
            .attribution{
                font-size: 13px;
            }
        }
    }
}