@use "variables";
@use "mixins";

body {
    width: 100%;
    height: min-content;
    font-family: variables.$fontBody;
    font-size: 16px;
    color: variables.$Very-Dark-Blue;

    li {
        list-style: none;
    }
    a{
        color: #000;
        text-decoration: none;
    }
}

.header {
    width: 23.4375em;
    margin: auto;
    padding: 1.5625em 0.9375em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: variables.$font-Header;
    @include mixins.desktop(76.25em);
    
    .header-logo {
        width: 6.25em;
        @include mixins.desktop(50em, unset, unset, 0 0 0 3.75em);
    }
    
    .header-navbar{
        .navbar {
            width: 11.25em;
            display: flex;
            justify-content: space-between;
            @include mixins.desktop(18.75em);
            
            &__ul {
                font-size: 0.875em;
                @include mixins.desktop(unset, unset, 1em);
                
            }
        }
    }
}

.main{
    width: 23.4375em;
    margin: 0 auto;
    @include mixins.desktop();
}

.section-getStarted {
    width: 100%;
    margin-top: 6.25em;
    padding: 0 1.25em;
    text-align: center;
    

    &__title{
        margin-top: 3.125em;
        font-size: 1.625em;
        font-weight: 700;
        line-height: 2.1875em;
    }
    &__description{
        margin: 1.875em 0;
        line-height: 1.5625em;

    }
    &__email{
        width: 100%;
        margin: 1.25em 0;
        height: 3.125em;
        border-radius: 0.3125em;
        border: 0.0625em solid #000;
        padding: 0.625em 1.25em;
        
        &::placeholder{
            color: variables.$Light-Gray;
        }
        &:focus{
            outline: none;
        }
    }
    &__button {
        @include mixins.button(3.125em);
    }

    @media screen and (min-width:76.25em) {
        @include mixins.flex(space-around);

        img {
            width: 40%;
        }

        div {
            width: 37.5em;
        }
        &__title{
            font-size: 2.25em;
            line-height: 3.125em;
            font-family: variables.$font-Header;

        }
        &__description{
            padding-right: 5em;
        }
        &__email{
            width: 18.75em;
            margin-right: 0.625em;
        }
        &__button{
            width: 11.25em;

        }
    }
}

.section-secureStorage{
    margin-top: 6.25em;
    background-image: url(../images/bg-curve-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 3.125em;
    
    
    .secureStorage-ilustration{
        padding: 3.125em 0;
        background-color: variables.$Light-Grayish-Blue;
    }
    .secureStorage-text{
        background-color: variables.$Light-Grayish-Blue;
        
        .secureStorage-description{
            padding: 1.25em 1.25em;
            &__title{
                text-align: center;
                padding: 1.5625em 0;
                font-size: 1.0938em;
                font-family: variables.$font-Header;
                font-size: 700;
            }

            &__text{
                font-size: 0.9063em;
                line-height: 1.5625em;
                margin-bottom: 1.25em;
                color: hsl(0, 0%, 40%);
            }
            
            &__button{
                display: block;
                width: max-content;
                margin: 2.5em auto 0;
                font-size: 0.9063em;
                padding-bottom: 0.375em;
                color: variables.$Moderate-Cyan;
                outline: none;
                border-bottom: 0.1em solid variables.$Moderate-Cyan;
            }
        }
        
    }
        
    @media screen and (min-width:76.25em){
            @include mixins.flex(space-around);
            background-image: url(../images/bg-curve-desktop.svg);
            padding-top: 6.25em;
            height: 28.125em;
    
            .secureStorage-ilustration{
                &__img{
                    padding-right: 3.75em;
                    padding-top: 1.25em;
                }
            }
    
            .secureStorage-text{
                padding: 2.5em 3.75em;
                
                .secureStorage-description{
                    &__title{
                        text-align: left;
                        font-size: 1.875em;
                    }
    
                    &__text{
                        width: 31.25em;
                    }
    
                    &__button{
                        display: inline;
                        cursor: pointer;
                        transition: .8s;

                        &:hover{
                            opacity: 60%;
                            
                        }
                    }
                }
            }
    }
}

.section-card{
    height: 18.75em;
    padding-top: 1.875em;
    background-color: variables.$Light-Grayish-Blue;

    .card{
        box-shadow: 0em 0em 1.25em 0.125em variables.$Light-Gray;
        width: 19.375em;
        height: 13.75em;
        margin: auto;
        font-size: 0.8125em;
        line-height: 1.25em;
        padding: 1.25em;
        background-color: #fff;
        border-radius: 0.3125em;
    
        &__icon{
            margin-bottom: 0.625em;
        }
    
        &__profile{
            display: flex;
            align-items: center;
            margin-top: 1.25em;
    
                
    
            &-img {
                width: 3.125em;
                margin-right: 0.625em;
                border-radius: 50%;
            }

            &-name {
                .name{
                    margin-bottom: 0.3125em;
                    font-weight: 700;
                    font-family: variables.$font-Header;
                }
                .occupation{
                    font-size: 0.75em;
                 }
    
            }
                
        }
    }
    
    @media screen and (min-width:76.25em){
        height: 21.875em;
        .card{
            margin-left: 4.6875em;
        }
    }
}

.section-startFree{
    padding: 3.75em;
    background-color: variables.$Desaturated-Blue;
    color: #fff;
    text-align: center;
    
    .startFree-description {
        &__title {
            font-size: 1.0938em;
            margin-bottom: 1.25em;
            letter-spacing: 0.0625em;
        }
        &__text {
            font-size: 0.9063em;
            margin-bottom: 1.25em;
        }
    }
    .startFree-inputs{
        &__email{
            width: 100%;
            height: 2.5em;
            margin-bottom: 0.625em;
            border-radius: 0.3125em;
            border: none;
            padding: 0.3125em 0.625em;
            box-shadow: 0em 0em 1.25em 0.125em rgba(0, 0, 0, 0.186);
            &::placeholder{
                color: variables.$Light-Gray;
            }
        }
        &__button{
            width: 100%;
            @include mixins.button(2.5em);
            box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.186);

        }
    }

    @media screen and (min-width:76.25em){
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        height: 21.875em;
        .startFree-description {
            width: 50%;

            &__title{
                font-size: 1.5em;
            }
            &__text{
                width: 28.125em;
                font-size: 0.9375em;
                line-height: 1.375em;
            }
        }
        .startFree-inputs{
            width: 50%;

            &__email{
                width: 31.25em;
                margin-bottom: 1.25em;
                padding-left: 1.25em;
            }

            &__button{
                width: 12.5em;
                font-size: 0.9375em;
            }
        }
    }
}

.footer{
    width: 23.4375em;
    margin: auto;
    background-color: variables.$Very-Dark-Blue;
    color: #fff;
    
    .footer-container{
        padding: 3.75em 2.5em 0 2.5em;

        .footer-info{
            &__logo{
                margin-bottom: 1.25em;
            }
            &__contact{
                margin-bottom: 1.25em;
                font-size: 0.9375em;
                img{
                    padding-right: 0.625em;
                }
            }
        }
        .footer-links{
            margin: 3.125em 0;
            .links {
                &__li{
                    margin-bottom: 0.9375em;
                &-a{
                    color: #fff;
                    transition: all .5s;
                    &:hover{
                        color: variables.$Moderate-Cyan;
                    }
                }
            }
            
        }

    }
  

    .footer-icons{
        text-align: center;
        .icons{
            i{
                border: 0.0625em solid #fff;
                border-radius: 50%;
                margin: 0 0.3125em 1.25em;
                cursor: pointer;
                transition: all .5s;

                &:nth-child(1){
                    padding: 0.5em 0.6875em;
                }
                &:nth-child(2){
                    padding: 0.5em 0.5em;
                }
                &:nth-child(3){
                    padding: 0.5em 0.5625em;
                }
                &:hover{
                    color: variables.$Moderate-Cyan;
                    border: 1px solid variables.$Moderate-Cyan;
                }
                
            }
            
        }
        
    }

    
    }
    .footer-attribution{
        padding-bottom: 0.625em;
        .attribution{
            text-align: center;
            font-size: 0.75em;
            
            a{
                color: #fff;
            }
        }
    }

    @media screen and (min-width:76.25em){
        width: 100%;
        padding-top: 3.75em;

        .footer-container{
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

            .footer-info{
                &__logo{
                    width: 12.5em;
                    margin-bottom: 3.125em;
                }
                &__contact{
                    margin-bottom: 1.875em;
                }
            }
            .footer-links{
                margin-top: 7.5em;
                .links {
                    &__li{
                        margin-bottom: 1.875em;
                    }
                }
                
            }
            .footer-icons{
                margin-top: 7.5em;
            }
           
        }
        .footer-attribution{
            margin-top: 3.75em;
            .attribution{
                font-size: 0.8125em;
            }
        }
    }
}